<section class="s-block s-block--fixed-banner wide-placeholder enhances-custome-banner" style="{% if component.switch_abd_01 %} margin-top: 0px; {% endif %}"  >
    <div class="container" style="{% if component.switch_abd_01 %} padding: 0px !important; width: 100%; max-width: 100%; {% endif %}">
        {% if component.switch_abd_02 %}

                <a href="{{ component.url }}" class="banner banner--fixed overflow-hidden" aria-label="Banner {{ image.alt }}">
                    <img width="1200" height="300" src="{{ component.image }}" style="{% if component.switch_abd_01 %} border-radius: 0px; {% endif %}" />
                </a>
    
        {% else %}

            <a href="#" class="banner banner--fixed overflow-hidden" aria-label="Banner {{ image.alt }}">
                <img width="1200" height="300" src="{{ component.image }}" style="{% if component.switch_abd_01 %} border-radius: 0px; {% endif %}" />
            </a>

        {% endif %}
    </div>

    <div class="container pt-10 pb-10">
        <div class="grid grid-cols-3 gap-4 enhanced-banner-grid mb-5">
            {% for custome in component.collection_abd_01 %}
                <div class="flex items-center enhanced-item">
                    <div>
                        <a href="{{ custome.url_abd_01 }}" class="enhanced-cat-link">
                            <img style=" max-width: 100%; height: auto; " src="{{ custome.image_1 }}" />
                        </a>
                    </div>
                    <div class="p-3">
                        <h3>{{ custome.title_abd_01 }}</h3>
                        <p>{{ custome.description_abd_01 }}</p>
                        <a class="" href="{{ custome.url_abd_02 }}" target="_blank">  <i class="fa-solid fa-arrow-left fa-fw"></i>  تسوق الان</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


</section>
