<section class="s-block s-block--fixed-banner wide-placeholder enhances-custome-banner" style="{% if component.switch_abd_01 %} margin-top: 0px; {% endif %}"  >
    <div class="container" style="{% if component.switch_abd_01 %} padding: 0px !important; width: 100%; max-width: 100%; {% endif %}">
        {% if component.switch_abd_02 %}

                <a href="{{ component.url }}" class="banner banner--fixed overflow-hidden" aria-label="Banner {{ image.alt }}">
                    <img width="1200" height="300" src="{{ component.image }}" style="{% if component.switch_abd_01 %} border-radius: 0px; {% endif %}" />
                </a>
    
        {% else %}

            <a href="#" class="banner banner--fixed overflow-hidden" aria-label="Banner {{ image.alt }}">
                <img width="1200" height="300" src="{{ component.image }}" style="{% if component.switch_abd_01 %} border-radius: 0px; {% endif %}" />
            </a>

        {% endif %}
    </div>

    <div class="container pt-10 pb-10">
        <div class="grid grid-cols-6 gap-2 enhanced-banner-grid">
            {% for custome in component.collection_abd_01 %}
                <div class="flex flex-col enhanced-item text-center">
                    <a href="{{ custome.url }}" class="enhanced-cat-link">
                        <img style=" max-width: 100%; height: auto; " src="{{ custome.image_1 }}" />
                        <h4>{{ custome.abd_title_01 }}</h4>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>


</section>
